<!--This page will act as the home page-->
<h6 class="text-center">
    Check the links below to submit your own movie or find the link to the Baconsale Podcast.
</h6>
<hr />
<p align="center" class="lead text-center">
    <!--asp actions to act as buttons to take the user to a different view-->
    <a asp-action="EnterTask" class="btn btn-primary btn-sm" role="button">Movie Submission</a>
    <a asp-action="MyPodcasts" class="btn btn-primary btn-sm" role="button">Baconsale Podcast</a>
</p>

<!--A picture of the man himself-->
<div align="center">
    <img src="~/img/1.jpg" class="rounded border" width="800" />
</div>